body {
    font-family: 'Monaco', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    color: black;
}

header {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 30px;
    flex: 0 0 33.3333%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

header h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0;
    padding-bottom: 20px;
    letter-spacing: 0.2em;
}

header hr {
    width: 50vw;
    border: 1px solid grey;
    background-color: grey;
    margin: 10px 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    margin-top: -10%;
}

.folder-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    justify-items: center;
}

.folder {
    text-align: center;
}

.folder img {
    width: 80px;
    height: auto;
}

.folder p {
    font-size: 1.2em;
    margin-top: 10px;
}

footer {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 50px;
}

footer p {
    font-size: 1.1em;
    letter-spacing: 0.2em;
}
